.brands {
  max-width: 1100px;
  padding: 8rem 4rem 10rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo-image {
  filter: grayscale(100%);
  gap: 2rem;
}

@media (max-width: 640px) {
  .brands {
    max-width: 300px;
    padding: 2rem 0 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logo-image {
    margin: 1rem;
  }
}
