.contact {
  background-color: var(--color-secondary);
  max-width: 1300px;
  margin: auto;
  margin-top: 8rem;
}

.contact-heading {
  padding-top: 9rem;
  text-align: center;
  margin-bottom: 0;
}

.contact-text {
  text-align: center;
  padding-bottom: 2rem;
}

.form-element {
  padding-bottom: 9rem;
  margin-bottom: 5rem;
}

.email-input-wrapper {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.input-and-icon-wrapper {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.email-input {
  padding: 1.75rem 8rem 1.75rem 0.5rem;
  border: none;
  outline: none;
}

::placeholder {
  color: var(--color-neutral-dark);
  opacity: 1;
}

.email-icon {
  padding-left: 1rem;
}

.submit-button {
  padding: 1.75rem 3rem;
  border: none;
  color: #fff;
  background-color: var(--color-primary);
}

@media (max-width: 640px) {
  .contact-heading {
    padding-top: 4rem;
  }

  .form-element {
    padding-bottom: 4rem;
  }

  .email-input-wrapper {
    flex-wrap: wrap;
  }

  .email-input {
    padding-right: 4rem;
  }

  .submit-button {
    margin: 1rem;
  }
}
