@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* * { Box-sizing: Border-box } FTW - https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ENDOF border-box hack */

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.intro-text-medium {
  font-size: 24px;
  font-weight: 500;
}

.intro-text-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.headline-text-regular {
  font-size: 17px;
  font-weight: 400;
}

.headline-text-medium {
  font-size: 17px;
  font-weight: 500;
}

.caption-1-text-regular {
  font-size: 15px;
  font-weight: 400;
}

.caption-2-text-regular {
  font-size: 13px;
  font-weight: 400;
}

.button {
  background-color: #072ac8;
  border: none;
  color: white;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
  background-color: #43d2ff;
  border: none;
  color: #292e47;
  margin-top: 30px;
  padding: 15px 32px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.buttonClean {
  background-color: transparent;
  border: none;
  color: #292e47;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonClean:hover {
  background-color: transparent;
  border: none;
  color: #072ac8;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


