.hero {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
}

.two-col {
  width: 50%;
}

#visa {
  position: relative;
}

.hero-image {
  width: 100%;
}

.hero-image-superscript {
  width: 60%;
  position: absolute;
  top: 0;
  left: -20%;
}

.hero-image-subscript {
  width: 55%;
  position: absolute;
  bottom: -10%;
  right: -10%;
}

.hero-cta {
  margin-top: 30px;
}

.button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-neutral-dark);
}

.button-clean {
  border: none;
  color: var(--color-neutral-dark);
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-clean:hover {
  color: var(--color-primary);
}

@media (max-width: 640px) {
  h1 {
    text-align: center;
    font-size: 40px;
  }

  .hero {
    max-width: 300px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
  }

  .two-col {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .button,
  .button-clean {
    font-size: 14px;
    padding: 10px 32px;
  }

  #visa {
    margin-top: 2rem;
  }
}

@media (min-width: 640px) and (max-width: 1000px) {
  .hero {
    max-width: 700px;
  }

  #empower {
    width: 70%;
  }

  #visa {
    width: 30%;
    align-self: center;
  }

  .hero-cta {
    text-align: center;
  }
}
