.navigator-bar {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px auto 0px auto;
    width:1440px;
    height: 122px;
}
.circle-logo{
    position: relative;
    left:170.64px; right:1208.83px;

}
.navigator-bar a{
    display: flex;
    justify-content: space-between;
     
}
.button-contact{
    position: relative;
    left:-170px;
    background-color:#072AC8;
    color:#FFFFFF;
    width: 150px;
    height: 52px;
}