.navigator-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /*margin: 0px auto 0px auto;*/
    max-width:1440px;
    height: 122px;
    flex-direction: row;
}
.navigator-logo{
    display: flex;
    align-items: center;
    margin: 0;

}
.navigator-bar ul{
    list-style: none; 
    display: flex;
    align-items: center;
    gap: 127px; 
    
}
.circle-grid-div li a{
    text-decoration: none;
    list-style: none;
    margin: 0;
}
.navigator-btn{
    display: flex;
}
.button-contact{
    
    background-color:#072AC8;
    color:#FFFFFF;
    width: 150px;
    height: 52px;
}