.project-margin {
  max-width: 1100px;
  margin: auto;
}

.proj-main-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  text-align: center;
  z-index: 100;
}

.shadow-main-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  filter: blur(2rem);
  position: relative;
  z-index: -1;
}

.proj-main-img-back {
  position: relative;
}

.date-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.date {
  color: var(--color-neutral-medium);
}

.project-title {
  margin-bottom: 5px;
}

.proj-parraf {
  margin-top: 70px;
  margin-bottom: 50px;
}

.project-title-placeholder {
  position: relative;
  max-width: 300px;
  overflow: hidden;
  background-color: rgb(211 211 211);
  width: 100%;
}

.project-description-placeholder {
  position: relative;
  max-width: 400px;
  overflow: hidden;
  background-color: rgb(211 211 211);
  width: 100%;
}

.proj-main-img-placeholder {
  position: relative;
  overflow: hidden;
  height: 60vh;
  background-color: rgb(211 211 211);
  width: 100%;
}

.proj-parraf-placeholder {
  position: relative;
  overflow: hidden;
  height: 420px;
  background-color: rgb(211 211 211);
  width: 100%;
}

.project-placeholder-light {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgb(251 251 251 / 5%),
    rgb(251 251 251 / 30%),
    rgb(251 251 251 / 60%),
    rgb(251 251 251 / 30%),
    rgb(251 251 251 / 5%)
  );
  animation: loading 0.7s infinite;
  z-index: 1;
}

@keyframes loading {
  0% {
    left: -45%;
  }

  100% {
    left: 100%;
  }
}
